body{

}

.content{
    width: 100%;
    height: 100%;
    padding: 5%;
}

#title{
    text-align: center;
    font-size: 50px;
    font-family: Stencil Std, fantasy;
}

#modal-newproduct{
    padding: 1%;
}

.fr{
    float: left;
}

.ui.input{
    padding-right: 2%;
}

.ui.form{
    padding: 1%;
}
